* {
	-primary-color: #128C7E;
	-primary-light-color: #25D366;
	-primary-dark-color: #075E54;
	-primary-text-color: #ffffff;
	-secondary-color: #34B7F1;
	-secondary-light-color: #78e9ff;
	-secondary-dark-color: #0087be;
	-secondary-text-color: #ffffff
}