.react-button {
	-fx-pref-width: 35px;
	-fx-pref-height: 35px;
	-fx-max-width: 35px;
	-fx-max-height: 35px;
	-fx-min-width: 35px;
	-fx-min-height: 35px;
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
	-fx-background-color: transparent;
}

.react-button:hover, .react-button.selected {
	-fx-background-color: rgba(0, 0, 0, .1);
	-fx-cursor: hand;
}

.reaction-counter {
	-fx-border-color: rgba(0, 0, 0, .2);
	-fx-background-color: rgba(0, 0, 0, .5);
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-padding: 2 7;
	-fx-text-fill: white;
}