.react-button {
	-fx-pref-width: 35px;
	-fx-pref-height: 35px;
	-fx-max-width: 35px;
	-fx-max-height: 35px;
	-fx-min-width: 35px;
	-fx-min-height: 35px;
	-fx-background-radius: 5px;
	-fx-border²-radius: 5px;
	-fx-background-color: transparent;
}

.react-button:hover {
	-fx-background-color: rgba(0, 0, 0, .1);
}