.option-btn {
	-fx-border-radius: 50%;
	-fx-background-radius: 50%;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-min-width: 40px;
	-fx-min-height: 40px;
	-fx-max-width: 40px;
	-fx-max-height: 40px;
	-fx-border-color: transparent;
	-fx-background-color: rgba(0, 0, 0, .3);
	-fx-cursor: hand;
}

.header .label {
	-fx-text-fill: -primary-text-color;
}

.option-btn:hover {
	-fx-background-color: rgba(0, 0, 0, .1);
}

.guest {
	-fx-font-family: Poppins;
	-fx-font-weight: normal;
}

.discussion {
	-fx-font-family: Poppins;
}

.discussion.guest-thread {
	-fx-alignment: top-left;
}

.discussion.me-thread {
	-fx-alignment: top-right;
}

.discussion .label {
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
	-fx-padding: 10px;
	-fx-font-size: 1.1em;
}

.discussion.guest-thread .label {
	-fx-background-color: white;
	-fx-border-color: rgba(0, 0, 0, .2);
	-fx-text-fill: black;
}

.discussion.me-thread .label {
	-fx-background-color: -primary-color;
	-fx-border-color: rgba(0, 0, 0, .2);
	-fx-text-fill: white;
}